.container {
  background-color: rgb(210, 214, 202);
}

.cardFilm {
  /* width: 480px; */
  display: flex;
  margin: 20px 0;
  /* background-color: rgb(6, 6, 6); */
  border-radius: 5px;
  padding: 15px;
  /* padding-bottom: 200px; */
  background-color: #121212;
  transition: all .05s;
}

.addAndImg {
  position: relative;
}
.poster {
  width: 180px;
  border-radius: 7px;
}
.movieYear {
  color: #e2b616;
}
#favButton {
  border: 0;
  background-color: #e2b616;
  position: absolute;
  bottom: 0;
  width: 180px;
  text-align: center;
  border-radius: 0 0 7px 7px;
  padding: 5px 0;
}
#movieTitle {
  margin-left: 10px;
}

@media only screen and (max-width: 500px) {
  .poster {
    width: 140px;
  }
  #favButton {
    width: 140px;
  }
}

@media only screen and (max-width: 400px) {
  .poster {
    font-size: 10px;
    width: 120px;
  }
  #favButton {
    width: 120px;
  }
}

@media only screen and (max-width: 300px) {
  .poster {
    width: 80px;
  }
  #favButton {
    width: 80px;
    font-size: 10px;
  }
  h3 {
    font-size: 20px;
  }
}
